.navbar {
  text-align: center;
}
.navbar ul {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #282a36;
  overflow: hidden;
}

.navbar li {
  display: inline-block; 
  color: #f8f8f2;
  text-align: center;
  font-size: 30px;
  font-size: 3.5vw;
  width: 20%;
}
.navbar li:not(:last-child){
  border-right: 1px solid black;
}


.navbar li a {
  text-decoration: none;
  color: #f8f8f2;
}

.navbar li:hover {
  text-decoration: underline;
  background-color: purple;
}

