.navbar {
  text-align: center;

}
.navbar ul {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(2,0,36,1) 15%, rgba(189,147,249,1) 78%, rgba(0,212,255,1) 100%); 
}

.navbar li {
  display: inline-block; 
  color: #f8f8f2;
  text-align: center;
  font-size: max(2vw,10px,1em);
  width: 20%;
}
.navbar li:not(:last-child){
  border-right: 1px solid black;
}


.navbar li a {
  text-decoration: none;
  color: #f8f8f2;
}

.navbar li:hover {
  text-decoration: underline;
  background-color: purple;
  transition-duration: 0.5s;

  font-size: max(2.5vw,30px,2.5em);
}

.navbar li a:hover {
  color: cyan;
  text-decoration: underline;
  background-color: purple;
  transition-duration: 0.5s;
}
